extends ../components/base/layout

block variables
  - const title = "Go-Tver.ru. Что посмотреть в Твери зимой" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const authorization = false
  - const map = true

block main
  main
    .container
      +bread-crumbs(["Главная", "Тверь", "Что посмотреть", "Что посмотреть в Твери зимой"])
    +article()
    +tags-additional()
    +see-also()

    .container
      .www
        +custom-select({
          optionsList: [
            {
              text: "Рекомендованные",
              value: "parameter-1", isActive: true
            },
            {
              text: "Сначала дешевле",
              value: "parameter-2"
            },
            {
              text: "Сначала дороже",
              value: "parameter-3"
            },
            {
              text: "По рейтингу",
              value: "parameter-4"
            }, {
              text: "По комментариям",
              value: "parameter-5"
            },
            {
              text: "По просмотрам",
              value: "parameter-6"
            }
          ]
        })(data-select, data-name="object-select").custom-select.object-select

block modals
