extends ../components/base/layout

block variables
  - const title = "Go-Tver.ru. Где остановиться" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const authorization = false
  - const map = true

block main
  main
    .container
      +bread-crumbs(["Главная", "Тверь", "Где остановиться"])

    +where-to-stay()
    +tags-additional()
    +see-also()
    +article()

block modals
  +modal("modal--tell-about")(data-modal="tell-about")
    +modal-tell-about()
  +modal("modal--login-to-account")(data-modal="login-to-account")
    +modal-login-to-account()
  +modal("modal--user-registration")(data-modal="user-registration")
    +modal-user-registration()
  +modal("modal--sms-code")(data-modal="sms-code")
    +modal-sms-code()
  +modal("modal--user-success")(data-modal="user-success")
    +modal-user-success()
