extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const authorization = false

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +intro()
    +menu-button()
    .is-open
      +menu-button()
    +user-navigation-item({
      class: "red",
      images: ["image-01", "image-02", "image-03"],
      title: "Топ",
      info: "+8 историй"
    })
    .container
      +menu-user-navigation()
    +socials()
    +call-support()
    +search().search--mobile

block modals
