extends ../components/base/layout

block variables
  - const title = "Go-Tver.ru. Тверь" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const authorization = false

block main
  main
    .container
      +bread-crumbs(["Главная", "Тверь"])
    +intro()
    +btn-change-count()

block modals
