extends ../components/base/layout

block variables
  - const title = "Go-Tver.ru. Тверь" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const authorization = false

block main
  main
    .container
      +bread-crumbs(["Главная", "Тверь"])
    +intro()
    //-+btn-showmore-round()
    .container


      div(data-showmore).block
        div(data-showmore-content="200").block__content
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf
          p hgshgdf gh hgfsdgv fsdhh fdghhfugfjds fuhujfdhsgfduh vsfhug gdhgfhfgsdfyhgvh gg yhgv sdyfugvsfdu hvbsufh sfubhsubhsubh subhubh s yghvufs hguh gsu hguhg u fb ghvyghuwf


        button(hidden data-showmore-button type="button").block__more
          span Показать еще
          span Спрятать

block modals
