extends ../components/base/layout

block variables
  - const title = "Go-Tver.ru. Тверь" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const authorization = false

block main
  main
    .container
      +bread-crumbs(["Главная", "Тверь"])
    +intro()
    //-+btn-change-count()
    .container
      +card-item({
        picture: "card-01",
        title: "Отель Viewpoint Hotel",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Отели Твери",
            color: "red"
          },
        ]
      })

      +card-item({
        picture: "card-01",
        title: "Отель Viewpoint Hotel",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Отели Твери",
            color: "red"
          },
        ]
      })

      +card-item({
        picture: "card-01",
        title: "Отель Viewpoint Hotel",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Отели Твери",
            color: "red"
          },
        ]
      })

block modals
