extends ../components/base/layout

block variables
  - const title = "Go-Tver.ru. Новости" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const authorization = false
  - const map = true

block main
  main
    .container
      +bread-crumbs(["Главная", "Новости",])
    +news()
    +tags-additional()
    +article()

block modals
  +modal("modal--tell-about")(data-modal="tell-about")
    +modal-tell-about()
  +modal("modal--login-to-account")(data-modal="login-to-account")
    +modal-login-to-account()
