mixin article()
  article.article.item-favorite
    .container
      h1 Что посмотреть в Твери зимой

      +tag-panel([
        {
          text: "Кафе Твери",
          color: "red"
        },
        {
          text: "Рестораны Твери",
          color: "green"
        },
        {
          text: "Отели Твери",
          color: "purple"
        },
        {
          text: "Хостелы Твери",
          color: "blue"
        },
        {
          text: "Экскурсии Твери",
          color: "red"
        }
      ])

      .article__grid
        figure
          +picture("content/article", "article-01", "png", 936, 540, "фото Твери", false)
        .article__chapters
          p.article__chapters-title Содержание:
          ul.article__chapters-list
            li
              a(href="#part-1").article__chapters-link Совершить пешую прогулку по историческим улицам Твери
            li
              a(href="#part-2").article__chapters-link Выбрать активный отдых
            li
              a(href="#part-3").article__chapters-link Посещать культурные достопримечательности
        .article__actions
          +action-item({
            icon: "heart",
            text: "Добавить в избранное"
          })(data-favorite="article")
          +action-item({
            icon: "share",
            text: "Рассказать друзьям"
          })
        .article__section(id="part-1")
            h2 Совершить пешую прогулку по историческим улицам Твери
            p
              | Зимой на них совершенно иная атмосфера, чем летом. Темнота наступает рано, и в
              | городе включается праздничная иллюминация. Она украшает дома, деревья и даже небо,
              | создавая ощущение приближающегося волшебства.
              | В преддверии Нового года и Рождества на главной пешеходной улице - <a href="#">Трёхсвятской</a>
              | работают стилизованные киоски. Они стоят всю зиму, и в них вы сможете приобрести сувенирную
              | продукцию, а также горячий ароматный глинтвейн или медовуху. Координаты: 56.855669, 35.909822.
        figure
              +picture("content/article", "article-02", "png", 936, 624, "фото Твери", true)
              figcaption На Трехсвятской работают стилизованные киоски
        .article__section(id="part-2")
            h3 Выбрать активный отдых
            p
              | Не менее прекрасен и бульвар Радищева, который пересекает Трёхсвятскую. Зимой в тёмное время
              | суток он выглядит как сказочный лес. На бульваре обязательно посмотрите памятник известному
              | на всю Россию тверскому шансонье Михаилу Кругу. Можно сказать, что бульвар Радищева даже
              | ассоциируется у людей с именем артиста, хотя монумент появился относительно недавно - в 2007 году.
              | А вообще улица эта старинная. Почти каждый дом здесь - памятник архитектуры или объект
              | культурного наследия. Координаты: 56.857076, 35.909462.
            p
              | К Трёхсвятской и бульвару примыкают и другие живописные улицы исторического центра Твери:
              | Андрея Дементьева, Пушкинская, Крылова, Салтыкова-Щедрина, Желябова, Симеоновская.
              | Это отличные места, чтобы полюбоваться красивой старинной архитектурой.
            p
              | Ещё одна локация для прогулки - улица Советская. Кроме того, что она интересна своей историей,
              | вечером по Советской можно пройти под “звёздным небом”. Это гирлянда в виде навеса, которая
              | протянулась по всей длине улицы.
            p
              | До революции Советская имела название Миллионная и Екатерининская. Была спроектирована по
              | приказу императрицы Екатерины II после разрушительного пожара 1763 года. Сегодня почти
              | каждое здание на улице имеет свою историю. Про улицу Советскую мы много и интересно
              | рассказываем вот тут. Координаты: 56.859552, 35.911663.
            p
              | В самом конце Советской в створе Смоленского переулка можно посмотреть необычное здание -
              | “Рюмку”. Благодаря железобетонному основанию и форме усечённой пирамиды здание и впрямь
              | напоминает рюмку на ножке. Сооружение имеет высоту в 77 метров. На последнем этаже оборудована
              | смотровая площадка “Панорама”. Оттуда вся Тверь видна как на ладони. А рядом памятник
              | архитектуры начала XX века - здание Тверской соборной мечети.
        figure
              +picture("content/article", "article-03", "png", 936, 546, "фото Твери", true)
              figcaption На Трехсвятской работают стилизованные киоски
        .article__section(id="part-3")
            h4 Посещать культурные достопримечательности
            p
              | Неплохой вариант того, что посмотреть в Твери зимой. Особенно если погода не располагает
              | к длительным прогулкам и пребыванию на улице. Тверь - город с более чем тысячелетней историей.
              | Он сохранил множество уникальных сооружений и предметов искусства, которые обязательно
              | стоит посмотреть.
        .article__actions
          +action-item({
            icon: "heart",
            text: "Добавить в избранное"
          })(data-favorite="article")
          +action-item({
            icon: "share",
            text: "Рассказать друзьям"
          })

        +map()
        .article__info-panel
          .article__author
            span Автор:
            a(href="#") Валерий Новожилов,
            time(datetime=2024-05-08) 8 мая 2024
          +activity-panel()




