mixin intro()
  section.intro
    .intro__info
      .container
        .intro__text
          h1.intro__title Тверь
          p.intro__description Древний город на двух берегах Волги. Административный центр региона на пути из Москвы в Санкт-Петербург. Город, где 28 раз гостил Пушкин, родина знаменитого купца Афанасия Никитина и шансонье Михаила Круга.
        +categories-links()

