mixin intro()
  .intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      p(style="margin-top: 40px;") Текст&nbsp;с&nbsp;мнемониками

      p(style="margin-top: 40px;") Пример использования +img()
      p(style="margin-bottom: 40px;")
        +img("content", "placeholder", "png", 120, 120, "Пример")

      +main-btn({
        icon: "arrow-black",
        text: "Посмотреть всё"
      })

      +main-btn({
        icon: "arrow-black",
        text: "Посмотреть всё"
      }).main-btn--category


      +main-title({
        title: "Популярные направления туризма",
        text: "В рамках спецификации современных стандартов, акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, в равной степени предоставлены сами себе.",
      })
      +main-btn({
        icon: "arrow-black",
        text: "Посмотреть всё"
      }).main-btn--margin-title

      +main-title({
        title: "Ваш путеводитель по Тверской области",
        text: "В рамках спецификации современных стандартов, акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, в равной степени предоставлены сами себе."
      })
