mixin my-account()
  -
    const cards = [
      {
        picture: "card-01",
        title: "Отель Viewpoint Hotel",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Отели Твери",
            color: "red"
          },
        ]
      },
      {
        picture: "card-02",
        title: "Гостевой дом Sonata на Невском",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Хостелы Твери",
            color: "green"
          },
        ]
      },
      {
        picture: "card-03",
        title: "Метрополь",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Апартаменты Твери",
            color: "purple"
          },
        ]
      },
      {
        picture: "card-02",
        title: "Гостевой дом Sonata на Невском",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Хостелы Твери",
            color: "green"
          },
        ]
      },
      {
        picture: "card-03",
        title: "Метрополь",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Апартаменты Твери",
            color: "purple"
          },
        ]
      },
      {
        picture: "card-01",
        title: "Отель Viewpoint Hotel",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Отели Твери",
            color: "red"
          },
        ]
      },
      {
        picture: "card-01",
        title: "Отель Viewpoint Hotel",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Отели Твери",
            color: "red"
          },
        ]
      },
      {
        picture: "card-02",
        title: "Гостевой дом Sonata на Невском",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Хостелы Твери",
            color: "green"
          },
        ]
      },
      {
        picture: "card-03",
        title: "Метрополь",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Апартаменты Твери",
            color: "purple"
          },
        ]
      },
      {
        picture: "card-03",
        title: "Метрополь",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Апартаменты Твери",
            color: "purple"
          },
        ]
      },
       {
        picture: "card-01",
        title: "Отель Viewpoint Hotel",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Отели Твери",
            color: "red"
          },
        ]
      },
      {
        picture: "card-02",
        title: "Гостевой дом Sonata на Невском",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Хостелы Твери",
            color: "green"
          },
        ]
      },
      {
        picture: "card-01",
        title: "Отель Viewpoint Hotel",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Отели Твери",
            color: "red"
          },
        ]
      },
      {
        picture: "card-02",
        title: "Гостевой дом Sonata на Невском",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Хостелы Твери",
            color: "green"
          },
        ]
      },
      {
        picture: "card-03",
        title: "Метрополь",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Апартаменты Твери",
            color: "purple"
          },
        ]
      },


      {
        picture: "card-01",
        title: "Отель Viewpoint Hotel",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Отели Твери",
            color: "red"
          },
        ]
      },
      {
        picture: "card-02",
        title: "Гостевой дом Sonata на Невском",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Хостелы Твери",
            color: "green"
          },
        ]
      },
      {
        picture: "card-03",
        title: "Метрополь",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Апартаменты Твери",
            color: "purple"
          },
        ]
      },
      {
        picture: "card-02",
        title: "Гостевой дом Sonata на Невском",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Хостелы Твери",
            color: "green"
          },
        ]
      },
      {
        picture: "card-03",
        title: "Метрополь",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Апартаменты Твери",
            color: "purple"
          },
        ]
      },
      {
        picture: "card-01",
        title: "Отель Viewpoint Hotel",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Отели Твери",
            color: "red"
          },
        ]
      },
      {
        picture: "card-01",
        title: "Отель Viewpoint Hotel",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Отели Твери",
            color: "red"
          },
        ]
      },
      {
        picture: "card-02",
        title: "Гостевой дом Sonata на Невском",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Хостелы Твери",
            color: "green"
          },
        ]
      },
      {
        picture: "card-03",
        title: "Метрополь",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Апартаменты Твери",
            color: "purple"
          },
        ]
      },
      {
        picture: "card-03",
        title: "Метрополь",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Апартаменты Твери",
            color: "purple"
          },
        ]
      },
       {
        picture: "card-01",
        title: "Отель Viewpoint Hotel",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Отели Твери",
            color: "red"
          },
        ]
      },
      {
        picture: "card-02",
        title: "Гостевой дом Sonata на Невском",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Хостелы Твери",
            color: "green"
          },
        ]
      },
      {
        picture: "card-01",
        title: "Отель Viewpoint Hotel",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Отели Твери",
            color: "red"
          },
        ]
      },
      {
        picture: "card-02",
        title: "Гостевой дом Sonata на Невском",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Хостелы Твери",
            color: "green"
          },
        ]
      },
      {
        picture: "card-03",
        title: "Метрополь",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Апартаменты Твери",
            color: "purple"
          },
        ]
      },
    ]

  section.my-account
    .container
      h1.my-account__title Мой аккаунт
      .my-account__tabs.no-transition-global(data-tabs='parent', data-delay='300', data-tabs-total)
        .my-account__menu
          .my-account__user
            .my-account__user-avatar
              +picture("content/avatars", "avatar-01", "png", 60, 60, "иконка пользователя", false)
            .my-account__user-info
              h2.my-account__user-name Дмитрий
              p.my-account__user-status Пользователь
          .my-account__navigation
            .my-account__controls(data-tabs='controls')
              button.my-account__control.is-active(type='button', data-tabs='control')
                +icon("heart-acc", 24, 24)
                span Избранные места
              button.my-account__control(type='button', data-tabs='control')
                +icon("comment-acc", 24, 24)
                span Мои комментарии
              button.my-account__control(type='button', data-tabs='control')
                +icon("statistic-acc", 24, 24)
                span Рекламная статистика
              button.my-account__control(type='button', data-tabs='control')
                +icon("setting-acc", 24, 24)
                span Настройки
            a(href="#").my-account__exit
              +icon("logout-acc", 24, 24)
              span Выход
        .my-account__content(data-tabs='content')
            .my-account__element.for-load(data-tabs='element')
              +grid-container(cards, {favorite: true}).grid-container--account
            .my-account__element(data-tabs='element')
              +comments-account()
            .my-account__element(data-tabs='element')
              +statictic-block-list()
            .my-account__element(data-tabs='element')
              +setting()
