mixin plan-ideal-tour()
  section.plan-ideal-tour
    .container
      +main-title({
        title: "Спланируйте своё идеальное путешествие",
        text: "В рамках спецификации современных стандартов, акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, в равной степени предоставлены сами себе."
      })
      +tag-panel([
        {
          text: "Отели Твери",
          color: "red",
          active: true
        },
        {
          text: "Кафе Твери",
          color: "green"
        },
        {
          text: "Достопримечательности Твери",
          color: "purple"
        },
        {
          text: "Маршруты Твери",
          color: "blue"
        },
        {
          text: "Кафе Твери",
          color: "green"
        },
        {
          text: "Маршруты Твери",
          color: "blue"
        },

        {
          text: "Памятники в Твери",
          color: "purple"
        },
        {
          text: "Парки в Твери",
          color: "purple"
        },
        {
          text: "Театры в Твери",
          color: "purple"
        },
        {
          text: "Улицы Твери",
          color: "purple"
        },
        {
          text: "Церкви в Твери",
          color: "purple"
        },
        {
          text: "Интересные факты",
          color: "purple"
        }
      ])
