mixin plan-ideal-tour()
  section.plan-ideal-tour
    .container
      +main-title({
        title: "Спланируйте своё идеальное путешествие",
        text: "В рамках спецификации современных стандартов, акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, в равной степени предоставлены сами себе."
      })
      +tag-panel([
        {
          text: "Отели Твери",
          color: "red",
          active: true
        },
        {
          text: "Кафе Твери",
          color: "green"
        },
        {
          text: "Достопримечательности Твери",
          color: "purple"
        },
        {
          text: "Маршруты Твери",
          color: "blue"
        },
        {
          text: "Кафе Твери",
          color: "green"
        },
        {
          text: "Маршруты Твери",
          color: "blue"
        },

        {
          text: "Памятники в Твери",
          color: "purple"
        },
        {
          text: "Парки в Твери",
          color: "purple"
        },
        {
          text: "Театры в Твери",
          color: "purple"
        },
        {
          text: "Улицы Твери",
          color: "purple"
        },
        {
          text: "Церкви в Твери",
          color: "purple"
        },
        {
          text: "Интересные факты",
          color: "purple"
        }
      ])
      .plan-ideal-tour__slider
        +card-grid-to-slider([
          {
            picture: "card-01",
            title: "Отель Viewpoint Hotel",
            description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
            labels: [
              {
                text: "Отели Твери",
                color: "red"
              },
            ]
          },
          {
            picture: "card-02",
            title: "Гостевой дом Sonata на Невском",
            description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
            labels: [
              {
                text: "Отели Твери",
                color: "red"
              },
            ]
          },
          {
            picture: "card-03",
            title: "Метрополь",
            description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
            labels: [
              {
                text: "Отели Твери",
                color: "red"
              },
            ]
          },
          {
            picture: "card-02",
            title: "Гостевой дом Sonata на Невском",
            description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
            labels: [
              {
                text: "Отели Твери",
                color: "red"
              },
            ]
          },
          {
            picture: "card-03",
            title: "Метрополь",
            description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
            labels: [
              {
                text: "Отели Твери",
                color: "red"
              },
            ]
          },
        ])
        .plan-ideal-tour__slider-buttons
          .slider-button.swiper-button-prev
            +icon("arrow-nav", 5, 9)
          .slider-button.swiper-button-next
            +icon("arrow-nav", 5, 9)
      +main-btn({
        href: "#",
        icon: "arrow-black",
        text: "Посмотреть всё"
      })
