mixin plan-ideal-tour()
  section.plan-ideal-tour
    .container
      +main-title({
        title: "Спланируйте своё идеальное путешествие",
        text: "В рамках спецификации современных стандартов, акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, в равной степени предоставлены сами себе."
      })
