mixin tag-search()
  - const tags = ["Интересные факты", "Места для отдыха в Твери", "Мосты в Твери", "Музеи Твери", "Музеи Торжка", "Памятники в Твери", "Парки в Твери", "Театры в Твери", "Улицы Твери", "Церкви в Твери", "Интересные факты"]
  section.tag-search
    .container
      +main-title({
        title: "Теги, которые чаще всего ищут",
        text: "В рамках спецификации современных стандартов, акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, в равной степени предоставлены сами себе."
      })
      .tag-search__wrapper
        each item in tags
          +tag(item)
        +main-btn({
          icon: "arrow-black",
          text: "Посмотреть всё"
        })
