mixin tag-search()
  -
    const tags = [
      {
        text: "Интересные факты",
        color: "purple"
      },
      {
        text: "Места для отдыха в Твери",
        color: "purple"
      },
      {
        text: "Мосты в Твери",
        color: "purple"
      },
      {
        text: "Музеи Твери",
        color: "purple"
      },
      {
        text: "Музеи Торжка",
        color: "purple"
      },
      {
        text: "Памятники в Твери",
        color: "purple"
      },
      {
        text: "Парки в Твери",
        color: "purple"
      },
      {
        text: "Театры в Твери",
        color: "purple"
      },
      {
        text: "Улицы Твери",
        color: "purple"
      },
      {
        text: "Церкви в Твери",
        color: "purple"
      },
      {
        text: "Интересные факты",
        color: "purple"
      }
    ];

  section.tag-search
    .container
      +main-title({
        title: "Теги, которые чаще всего&nbsp;ищут",
        text: "В рамках спецификации современных стандартов, акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, в равной степени предоставлены сами себе."
      })
      .tag-search__wrapper
        each item in tags
          +tag-item(item)
        +main-btn({
          href: "#",
          icon: "arrow-black",
          text: "Посмотреть всё"
        })
