.activity-panel {
  display: inline-flex;
  align-items: center;
  gap: 12px;

  &__item {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: $color-txt2;

    @include vp-767 {
      gap: 2px;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
