.call-support {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  max-width: 336px;
  width: 100%;
  padding: 28px 30px 48px 30px;
  border-radius: 48px 48px 0 0;

  background-color: $color-green;

  @include vp-1023 {
    border-radius: 36px 36px 0 0;
    padding: 20px 22px;
  }

  &__question {
    margin: 0;
    margin-bottom: 2px;

    font-size: 14px;
    line-height: 140%;
    color: rgba($color-black, 0.6);

    @include vp-1023 {
      font-size: 12px;
    }
  }

  &__slogan {
    margin: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $color-black;

    @include vp-1023 {
      font-size: 14px;
    }
  }

  &__icon {
    display: flex;

    @include hover-focus {
      svg {
        color: $color-txt2;
      }
    }

    svg {
      width: 40px;
      height: 40px;

      color: $color-black;

      transition: color $trans-default;
    }
  }

  .footer & {
    padding: 48px 30px 28px 30px;
    border-radius: 0 0 48px 48px;

    @include vp-1023 {
      border-radius: 0 0 36px 36px;
      padding: 24px 30px;
    }
  }
}
