.card-object {
  &__title {
    margin: 0;
    margin-bottom: 30px;

    font-family: $ff-pt;
    font-size: 80px;
    font-weight: 400;
    line-height: 104px;

    @include vp-1023 {
      margin-bottom: 20px;

      font-size: 40px;
      line-height: 52px;
    }
  }

  &__grid {
    position: relative;

    & > * {
      width: calc(100% - 24px - 456px);

      @include vp-1279 {
        width: calc(100% - 24px - 340px);
      }

      @include vp-1023 {
        width: 100%;
      }
    }
  }

  &__images-wrapper {
    display: flex;
    gap: 10px;

    height: 462px;
    margin-bottom: 60px;

    @include vp-1023 {
      flex-direction: column;
      gap: 8px;

      height: initial;
      margin-bottom: 20px;
    }
  }

  &__images {
    position: relative;

    width: calc(100% - 10px - 108px);
    height: 100%;

    @include vp-767 {
      width: 100%;
      height: initial;
      aspect-ratio: 320 / 180;
    }
  }

  &__image {
    position: absolute;

    width: 100%;
    height: 100%;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    transition: opacity $trans-default, visibility $trans-default;

    img {
      width: 100%;
      height: 100%;
      border-radius: 24px;
      object-fit: cover;
    }
  }

  &__image.is-show {
    visibility: visible;
    opacity: 1;
  }

  &__images-preview {
    width: 108px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;

    @include vp-767 {
      width: 100%;
      flex-direction: row;
      gap: 8px;
    }
  }

  &__image-button {
    width: 108px;
    height: 108px;

    padding: 0;
    border: none;

    cursor: pointer;

    transition: opacity $trans-default;
    background-color: $color-transparent;

    @include vp-767 {
      width: calc((100% - 3 * 8px) / 4);
      height: initial;
      aspect-ratio: 1 / 1;
    }

    @include hover-focus {
      opacity: 0.7;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 24px;

      object-fit: cover;
    }
  }

  &__image-button.is-show {
    pointer-events: none;
  }

  &__image-button--count {
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      border-radius: 24px;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #27292E80;

      color: $color-white;
      font-family: $ff-pt;
      font-size: 28px;
      font-weight: 400;
      line-height: 36px;
    }
  }
  /*
  &__features {
    position: absolute;
    right: 0;
    top: 0;

    //width: calc((100% - 24px) * 456 / (936 + 456));
    width: 456px;
    padding: 32px 36px;
    border-radius: 24px;
    min-height: 462px;////

    background-color: #F2F1F0;

    @media (min-width: 768px) {
      margin: 0;
    }


    @include vp-1279 {
      width: 320px;
    }

    @include vp-1023 {
      //width: calc((100% - 24px) * 0.4);
      position: static;
      width: 100%;
      margin-bottom: 40px;
      padding: 18px 20px;
    }

    @include vp-767 {
      //position: static;
      //width: 100%;

  }
  */
  &__title-h2 {
    margin: 0;
    margin-bottom: 24px;

    font-family: $ff-pt;
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;

    @include vp-1023 {
      margin-bottom: 16px;

      font-size: 32px;
      line-height: 42px;
    }
  }

  &__description {
    margin-bottom: 60px;

    @include vp-1023 {
      margin-bottom: 80px;
    }
  }

  &__description-text {
    margin: 0;
    margin-bottom: 60px;

    font-size: 16px;
    line-height: 24px;

    @include vp-1023 {
      margin-bottom: 40px;

      font-size: 14px;
      line-height: 21px;
    }
  }

  &__description-contacts {
    padding: 30px 36px;
    border-radius: 24px;
    border: 1px solid $color-sep;

    svg {
      width: 24px;
      height: 24px;
    }

    @include vp-767 {
      padding: 22px 24px;
    }
  }

  &__description-contacts-title {
    margin: 0;
    margin-bottom: 16px;

    font-family: $ff-pt;
    font-size: 28px;
    font-weight: 400;
    line-height: 36.4px;

    @include vp-767 {
      font-size: 24px;
      line-height: 31px;
    }

    span {
      color: $color-txt2;
    }
  }

  &__description-contacts-content {
    display: flex;

    @include vp-767 {
      flex-direction: column;
    }
  }

  &__description-contacts-text {
    width: 50%;
    margin: 0;
    margin-right: 16.7%;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @include vp-767 {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;

      font-size: 14px;
      line-height: 21px;
    }
  }

  &__description-contacts-info-group {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: calc(100% - 50% - 16.7%);

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    @include vp-767 {
      gap: 8px;

      width: 100%;

      font-size: 14px;
      line-height: 21px;
    }
  }

  &__description-contacts-link {
    display: flex;
    align-items: center;
    gap: 9px;

    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.7;
    }
  }

  &__description-contacts-link--bold {
    font-weight: 600;
  }

  &__description-contacts-social {
    display: flex;
    gap: 8px;

    a {
      color: $color-txt2;

      transition: color $trans-default;

      @include hover-focus {
        color: $color-black;
      }
    }
  }

  &__comments {
    margin-bottom: 60px;

    @include vp-767 {
      margin-bottom: 80px;
    }
  }

  &__title-h2 {
    margin: 0;
    margin-bottom: 30px;

    font-family: $ff-pt;
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;

    @include vp-767 {
      font-size: 32px;
      line-height: 42px;
    }
  }

  &__comments-action-panel {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    margin-bottom: 30px;

    @include vp-767 {
      flex-direction: column;
      justify-content: initial;

      .main-btn {
        margin-right: auto;
      }
    }
  }

  &__comments-select-group {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    @include vp-767 {
      font-size: 14px;
      line-height: 21px;
    }

    p {
      margin: 0;
      padding: 12px 0;
    }
  }



  .custom-select {
    width: 210px;
  }
}
