.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 100%;
  //padding: 14px 0 28px 0;
  /*
  @media screen and (max-width: 767px) {
    padding: 4px 0 48px 0;
    width: 100%;
  }
  */
  label {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;
    /*
    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }
    */
    input,
    textarea {
      flex-grow: 1;
      //max-width: 300px;
      min-height: 48px;
      //margin-left: auto;
      padding: 11px 23px;
      border: 1px solid $color-black;
      border-radius: 24px;

      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: $color-black;

      background-color: $color-transparent;
      outline: none;
      transition: border-color $trans-default, color $trans-default;
      /*
      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }
      */
      &::placeholder {
        color: $color-txt2;
      }

      &:placeholder-shown {
        border-color: $color-sep;
      }

      &:hover {
        border-color: $color-black;
        color: $color-txt2;
      }

      &:focus {
        border-color: $color-sep;
        color: $color-black;

        &::placeholder {
          color: $color-black;
        }
      }
    }
  }

  &__label {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $color-txt2;

    /*
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
      */
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 2px solid #ff1553;

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
