.grid-container {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 24px;

    margin-bottom: 24px;

    @include vp-1279 {
      grid-template-columns: 1fr 1fr;
    }

    @include vp-767 {
      width: 100%;
      grid-template-columns: 1fr;

      margin-bottom: 16px;
    }
  }

  .card-item {
    width: auto;
    height: 0;
	  padding-bottom: 60.96%;
    aspect-ratio: initial;

    @include vp-767 {
      width: 100%;
      padding-bottom: 68.75%;

      .card-item__picture {
        aspect-ratio: 320 / 220;
      }
    }
  }
}

.grid-container--account {
  .grid-container__inner {
    grid-template-columns: 1fr 1fr;

    @include vp-1279 {
      grid-template-columns: 1fr;
    }
  }
}
