.label-item {
  display: inline-flex;
  margin: 0;
  padding: 4px 12px;
  border-radius: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 140%;

  color: $color-black;

  backdrop-filter: blur(5px);

  @include vp-767 {
    padding: 2px 8px;

    font-size: 12px;
  }

  &[data-color="red"] {
    background-color: $color-red;
  }

  &[data-color="blue"] {
    background-color: $color-blue;
  }

  &[data-color="purple"] {
    background-color: $color-purple;
  }

  &[data-color="green"] {
    background-color: $color-green;
  }

  &[data-color="gray"] {
    color: rgba($color-white, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
  }
}
