.navigator-location {
  padding-top: 20px;

  @include vp-767 {
    padding: 0;
  }

  .container {
    overflow: hidden;
  }

  .main-title {
    margin-bottom: 50px;

    @include vp-767 {
      margin-bottom: 30px;
    }
  }

  &__slider.swiper {
    overflow: initial;

    margin-bottom: 39px;

    @include vp-767 {
      margin-bottom: 30px;
    }
  }
}
