.plan-ideal-tour {
  .container {
    overflow: hidden;
  }

  .main-title {
    margin-bottom: 40px;

    @include vp-767 {
      margin-bottom: 20px;
    }
  }

  .tag-panel {
    margin-bottom: 40px;

    @include vp-767 {
      margin-bottom: 20px;
    }
  }

  .card-item {
    width: calc((100% - 2 * 24px) / 3);
  }

}
