mixin activity-panel()
  .activity-panel
    .activity-panel__item
      +icon("eye", 20, 20)
      span 1 473
    .activity-panel__item
      +icon("like", 20, 20)
      span 215
    .activity-panel__item
      +icon("comment", 20, 20)
      span 31
