mixin add-item()
  .add-item
    p.add-item__title Больше предложений на выбор
    p.add-item__description Каждый день мы добавляем десятки новых вариантов, чтобы у вас была максимальная подборка в нашем сервисе
    +main-btn({
      icon: "arrow-black",
      text: "Посмотреть всё"
    })
