mixin articles-slider()
  -
    const popularArticleList = [
      {
        class: "blue",
        picture: "news-01",
        datetime: "2024-05-21",
        datestring: "21 мая 2024",
        title: "Что посмотреть в Твери зимой",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Что посмотреть",
            color: "blue"
          },
          {
            text: "Время чтения: 8 минут",
            color: "gray"
          }
        ]
      },
      {
        class: "red",
        picture: "news-02",
        datetime: "2024-05-21",
        datestring: "21 мая 2024",
        title: "Куда сходить с девушкой в Твери",
        description: "В Твери более 50 достопримечательностей и большое количество развлекательных мест на любой вкус. Здесь есть старинные улицы, здания, усадьбы, дворцы, театры, монастыри и храмы. Кроме того, в городе и окрестностях полно красивых и притягательных мест для посещения. В этой статье предлагаем вам краткий путеводитель по самым романтическим локациям Твери для свидания вдвоём.",
        labels: [
          {
            text: "Чем заняться",
            color: "red"
          },
          {
            text: "Время чтения: 8 минут",
            color: "gray"
          }
        ]
      },
      {
        class: "blue",
        picture: "news-01",
        datetime: "2024-05-21",
        datestring: "21 мая 2024",
        title: "Что посмотреть в Твери с детьми",
        description: "В Твери более 50 достопримечательностей и большое количество развлекательных мест на любой вкус. Здесь есть старинные улицы, здания, усадьбы, дворцы, театры, монастыри и храмы. Кроме того, в городе и окрестностях полно красивых и притягательных мест для посещения. В этой статье предлагаем вам краткий путеводитель по самым романтическим локациям Твери для свидания вдвоём.",
        labels: [
          {
            text: "Что посмотреть",
            color: "blue"
          },
          {
            text: "Время чтения: 8 минут",
            color: "gray"
          }
        ]
      },
      {
        class: "blue",
        picture: "news-01",
        datetime: "2024-05-21",
        datestring: "21 мая 2024",
        title: "Что посмотреть в Твери зимой",
        description: "Господа, убеждённость некоторых оппонентов требует определения и уточнения форм воздействия. Каждый из нас понимает очевидную вещь: консультация с широким активом воздействия.",
        labels: [
          {
            text: "Что посмотреть",
            color: "blue"
          },
          {
            text: "Время чтения: 8 минут",
            color: "gray"
          }
        ]
      },
      {
        class: "red",
        picture: "news-02",
        datetime: "2024-05-21",
        datestring: "21 мая 2024",
        title: "Куда сходить с девушкой в Твери",
        description: "В Твери более 50 достопримечательностей и большое количество развлекательных мест на любой вкус. Здесь есть старинные улицы, здания, усадьбы, дворцы, театры, монастыри и храмы. Кроме того, в городе и окрестностях полно красивых и притягательных мест для посещения. В этой статье предлагаем вам краткий путеводитель по самым романтическим локациям Твери для свидания вдвоём.",
        labels: [
          {
            text: "Чем заняться",
            color: "red"
          },
          {
            text: "Время чтения: 8 минут",
            color: "gray"
          }
        ]
      },
      {
        class: "blue",
        picture: "news-01",
        datetime: "2024-05-21",
        datestring: "21 мая 2024",
        title: "Что посмотреть в Твери с детьми",
        description: "В Твери более 50 достопримечательностей и большое количество развлекательных мест на любой вкус. Здесь есть старинные улицы, здания, усадьбы, дворцы, театры, монастыри и храмы. Кроме того, в городе и окрестностях полно красивых и притягательных мест для посещения. В этой статье предлагаем вам краткий путеводитель по самым романтическим локациям Твери для свидания вдвоём.",
        labels: [
          {
            text: "Что посмотреть",
            color: "blue"
          },
          {
            text: "Время чтения: 8 минут",
            color: "gray"
          }
        ]
      },
    ];

  .articles-slider&attributes(attributes)
        .articles-slider__container.swiper
          .swiper-wrapper
            each item in popularArticleList
              +news-item(item).swiper-slide
        .articles-slider__slider-buttons
          .slider-button.swiper-button-prev
            +icon("arrow-nav", 5, 9)
          .slider-button.swiper-button-next
            +icon("arrow-nav", 5, 9)
