mixin authorization(options = {})
  - const picture = options.picture ? options.picture : "login-photo";
  - const name = options.name ? options.name : "Дмитрий";
  if (authorization === false)
    a(href="#" data-open-modal="login-to-account").menu-user-group-item
      +icon("user", 24, 24).menu-user-group-item__icon
      span.menu-user-group-item__text Вход / Регистрация
  else
    a(href="#").menu-user-group-item
      .menu-user-group-item__picture
        +picture("content", picture, "png", 36, 36, "иконка юзера", false)
      span.menu-user-group-item__name=name
