mixin call-support()
  .call-support&attributes(attributes)
    .call-support__text
      p.call-support__question Нужна помощь?
      p.call-support__slogan Написать в поддержку
    a(href="#").call-support__icon
      +icon("arrow-white", 40, 40)
