mixin categories-links()
  -
    const categoriesLinks = [
      {
        href: "#",
        icon: "what-see",
        text: "Что посмотреть"
      },
      {
        href: "#",
        icon: "what-do",
        text: "Чем заняться"
      },
      {
        href: "#",
        icon: "where-eat",
        text: "Где поесть"
      },
      {
        href: "#",
        icon: "where-stay",
        text: "Где остановиться"
      },
      {
        href: "#",
        icon: "where-go",
        text: "Экскурсии"
      },
    ]

  .categories-links.swiper
    .swiper-wrapper
      each item in categoriesLinks
        +main-btn(item).main-btn--category.swiper-slide
