mixin comments-account()
  -
    const comments = [
      {
        action: "прокомментировали",
        link: "Отель Viewpoint Hotel"
      },
      {
        action: "ответили",
        link: "Мария"
      },
      {
        action: "прокомментировали",
        link: "Отель Viewpoint Hotel"
      },
      {
        action: "ответили",
        link: "Мария"
      },
      {
        action: "прокомментировали",
        link: "Отель Viewpoint Hotel"
      },
      {
        action: "ответили",
        link: "Мария"
      },

      {
        action: "прокомментировали",
        link: "Отель Viewpoint Hotel"
      },
      {
        action: "ответили",
        link: "Мария"
      },
      {
        action: "прокомментировали",
        link: "Отель Viewpoint Hotel"
      },
      {
        action: "ответили",
        link: "Мария"
      },
      {
        action: "прокомментировали",
        link: "Отель Viewpoint Hotel"
      },
      {
        action: "ответили",
        link: "Мария"
      }
    ]

  div(data-showmore="items").comments-account&attributes(attributes)
    div(data-showmore-content="6").comments-account__inner
      each item in comments
        +comment-account-item(item)
    +button-more()
