mixin comment-item()
  .comment-item

    .comment-item__content
      .content-item__header
        .comment-item__avatar
          +picture("content/avatars", "avatar-01", "png", 48, 48, "аватар", true)
        p.content-item__name Дмитрий
        time(datetime="2001-05-8").content-item__date 8 мая 2024
      p.content-item__main
        | В частности, повышение уровня гражданского сознания выявляет срочную потребность
        | соответствующих условий активизации. Современные технологии достигли такого уровня,
        | что постоянный количественный рост и сфера нашей активности позволяет выполнить важные
        | задания по разработке стандартных подходов. Учитывая ключевые сценарии поведения,
        | перспективное планирование играет определяющее значение для позиций, занимаемых
        | участниками в отношении поставленных задач.
      .content-item__footer
        button(type="button").content-item__reply-button
          +icon("arrow-turn-down", 20, 20)
          span.content-item__reply-button-text Ответить
          span.content-item__reply-button-count (2)
        .content-item__activity
          button(type="button", data-activity-plus).content-item__activity-button
            +icon("like-finger", 20, 20)
            span 24
          button(type="button", data-activity-minus).content-item__activity-button
            +icon("like-finger", 20, 20)
            span 3
      .content-item__replies-wrapper
        .content-item__reply.content-item__reply--manager
          .content-item__header
            p.content-item__name Менеджер GoTver.Ru
            time(datetime="2001-05-12").content-item__date 12 мая 2024
          p.content-item__main
           | Мы вынуждены отталкиваться от того, что глубокий уровень погружения позволяет выполнить
           | важные задания по разработке системы массового участия. В рамках спецификации современных
           | стандартов, сторонники тоталитаризма в науке описаны максимально подробно.
        .content-item__reply
          .content-item__header
            p.content-item__name Дмитрий
            time(datetime="2001-05-18").content-item__date 18 мая 2024
          p.content-item__main
            | А также активно развивающиеся страны третьего мира могут быть ассоциативно распределены
            | по отраслям. Значимость этих проблем настолько очевидна, что выбранный нами инновационный
            | путь предполагает независимые способы реализации первоочередных требований.
            | Каждый из нас понимает очевидную вещь: внедрение современных методик представляет
            | собой интересный эксперимент проверки распределения внутренних резервов и ресурсов!
