mixin grid-container(items, params = {})
  div(data-showmore="items").grid-container&attributes(attributes)
    div(data-showmore-content="5").grid-container__inner
      each item in items
        if (params.favorite)
          +card-item(item).is-favorite
        else
          +card-item(item)
    +button-more()
