mixin menu-user-group
  .menu-user-group
    a(href="#").menu-user-group-item.menu-user-group-item--favorire
      +icon("heart", 24, 24).menu-user-group-item__icon
      span.menu-user-group-item__text Избранное
    +authorization({
      picture: "login-photo",
      name: "Дмитрий"
    })
