mixin menu-user-group
  .menu-user-group
    a(href="#").menu-user-group-item
      +icon("heart", 24, 24)
      span Избранное
    +authorization({
      picture: "login-photo",
      name: "Дмитрий"
    })
