mixin popular-touring-item(options)
  a(href="#").popular-touring-item
    .popular-touring-item__picture
      +picture("content/popular-touring", options.picture, "png", 216, 320, "фото туризма", true)
    .popular-touring-item__overlay
    p.popular-touring-item__text=options.text
