mixin search()
  .search&attributes(attributes)
    form(action="#" method="get")
      label
        +icon("search", 24, 24)
        input(type="search" name="search" placeholder="Найти место или событие")
