mixin modal-user-registration()
  .modal__head
    h2.modal__title Регистрация пользователя
    p.modal__description Зарегистрируйтесь, чтобы получить доступ к расширенному функционалу
  .modal__form(data-form-validate, data-callback="base")
    form(action="#", method="post")
      +custom-input({
        inputLabel: "Введите ваше имя:",
        inputPlaceholder: "Иван",
        inputType: "text",
        inputName: "name-registration",
      })(data-required, data-validate-type="text")
      +custom-input({
        inputLabel: "Введите номер телефона:",
        inputPlaceholder: "+7 (___) ___-__-__",
        inputType: "tel",
        inputName: "phone-registration",
      })(data-required, data-validate-type="phone")
      +custom-input({
        inputLabel: "Введите пароль:",
        inputPlaceholder: " ",
        inputType: "password",
        inputName: "password-registration",
      })(data-required)
      +custom-input({
        inputLabel: "Введите пароль еще раз:",
        inputPlaceholder: " ",
        inputType: "password",
        inputName: "repeat-password-registration",
      })(data-required)
      +main-btn({
        type: "submit",
        icon: "arrow-black",
        text: "Получить код регистрации"
      })
      +custom-toggle({
        inputLabel: "Нажимая «отправить», я даю согласие на обработку персональных данных",
        inputChecked: true,
        inputName: "personal-data-registration",
      })(data-validate-type="checkbox").custom-toggle--checkbox
