mixin modal-main-slider()
  .modal-main-slider.swiper
    .swiper-wrapper
      .modal-main-slider__slide.swiper-slide
        .modal-main-slider__slide-picture
          +picture("content/hero-slider", "hero-01", "png", 1068, 480, "виды Твери", true)
        .modal-main-slider__overlay
        .modal-main-slider__info
          .modal-main-slider__description
            h2.modal-main-slider__title Что посмотреть в Твери с детьми?
            p.modal-main-slider__text В Твери более 50 достопримечательностей и большое количество развлекательных мест на любой вкус. Здесь есть старинные улицы, здания, усадьбы, дворцы, театры, монастыри и храмы. Кроме того, в городе и окрестностях полно красивых и притягательных мест для посещения. В этой статье предлагаем вам краткий путеводитель по самым романтическим локациям Твери для свидания вдвоём.
          +main-btn({
            href: "#",
            text: "Перейти в направления туризма",
            icon: "arrow-white",
          }).main-btn--main-slider
      .modal-main-slider__slide.swiper-slide
        .modal-main-slider__slide-picture
          +picture("content/hero-slider", "hero-02", "png", 1068, 480, "виды Твери", true)
        .modal-main-slider__overlay
        .modal-main-slider__info
          .modal-main-slider__description
            h2.modal-main-slider__title Что посмотреть в Твери с детьми?
            p.modal-main-slider__text В Твери более 50 достопримечательностей и большое количество развлекательных мест на любой вкус. Здесь есть старинные улицы, здания, усадьбы, дворцы, театры, монастыри и храмы. Кроме того, в городе и окрестностях полно красивых и притягательных мест для посещения. В этой статье предлагаем вам краткий путеводитель по самым романтическим локациям Твери для свидания вдвоём.
          +main-btn({
            href: "#",
            text: "Перейти в направления туризма",
            icon: "arrow-white",
          }).main-btn--main-slider
      .modal-main-slider__slide.swiper-slide
        .modal-main-slider__slide-picture
          +picture("content/hero-slider", "hero-03", "png", 1068, 480, "виды Твери", true)
        .modal-main-slider__overlay
        .modal-main-slider__info
          .modal-main-slider__description
            h2.modal-main-slider__title Что посмотреть в Твери с детьми?
            p.modal-main-slider__text В Твери более 50 достопримечательностей и большое количество развлекательных мест на любой вкус. Здесь есть старинные улицы, здания, усадьбы, дворцы, театры, монастыри и храмы. Кроме того, в городе и окрестностях полно красивых и притягательных мест для посещения. В этой статье предлагаем вам краткий путеводитель по самым романтическим локациям Твери для свидания вдвоём.
          +main-btn({
            href: "#",
            text: "Перейти в направления туризма",
            icon: "arrow-white",
          }).main-btn--main-slider
      .modal-main-slider__slide.swiper-slide
        .modal-main-slider__slide-picture
          +picture("content/hero-slider", "hero-01", "png", 1068, 480, "виды Твери", true)
        .modal-main-slider__overlay
        .modal-main-slider__info
          .modal-main-slider__description
            h2.modal-main-slider__title Что посмотреть в Твери с детьми?
            p.modal-main-slider__text В Твери более 50 достопримечательностей и большое количество развлекательных мест на любой вкус. Здесь есть старинные улицы, здания, усадьбы, дворцы, театры, монастыри и храмы. Кроме того, в городе и окрестностях полно красивых и притягательных мест для посещения. В этой статье предлагаем вам краткий путеводитель по самым романтическим локациям Твери для свидания вдвоём.
          +main-btn({
            href: "#",
            text: "Перейти в направления туризма",
            icon: "arrow-white",
          }).main-btn--main-slider
      .modal-main-slider__slide.swiper-slide
        .modal-main-slider__slide-picture
          +picture("content/hero-slider", "hero-02", "png", 1068, 480, "виды Твери", true)
        .modal-main-slider__overlay
        .modal-main-slider__info
          .modal-main-slider__description
            h2.modal-main-slider__title Что посмотреть в Твери с детьми?
            p.modal-main-slider__text В Твери более 50 достопримечательностей и большое количество развлекательных мест на любой вкус. Здесь есть старинные улицы, здания, усадьбы, дворцы, театры, монастыри и храмы. Кроме того, в городе и окрестностях полно красивых и притягательных мест для посещения. В этой статье предлагаем вам краткий путеводитель по самым романтическим локациям Твери для свидания вдвоём.
          +main-btn({
            href: "#",
            text: "Перейти в направления туризма",
            icon: "arrow-white",
          }).main-btn--main-slider
    .modal-main-slider__pagination.swiper-pagination
  .slider-button.swiper-button-prev
    +icon("arrow-nav", 5, 9)
  .slider-button.swiper-button-next
    +icon("arrow-nav", 5, 9)
  button.modal__close-link(type="button", aria-label="Закрыть попап", data-close-modal) Вернуться на сайт
