mixin modal-card-slider()
  .modal-card-slider
    .modal-card-slider__main.swiper.mySwiper2
      .swiper-wrapper
        .modal-card-slider__main-slide.swiper-slide
          +picture("content/cards", "card-01", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__main-slide.swiper-slide
          +picture("content/cards", "card-02", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__main-slide.swiper-slide
          +picture("content/cards", "card-03", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__main-slide.swiper-slide
          +picture("content/cards", "card-01", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__main-slide.swiper-slide
          +picture("content/cards", "card-02", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__main-slide.swiper-slide
          +picture("content/cards", "card-03", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__main-slide.swiper-slide
          +picture("content/cards", "card-01", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__main-slide.swiper-slide
          +picture("content/cards", "card-02", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__main-slide.swiper-slide
          +picture("content/cards", "card-03", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__main-slide.swiper-slide
          +picture("content/cards", "card-01", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__main-slide.swiper-slide
          +picture("content/cards", "card-02", "png", 456, 278, "виды отеля", true)
      .slider-button.swiper-button-prev
        +icon("arrow-nav", 5, 9)
      .slider-button.swiper-button-next
        +icon("arrow-nav", 5, 9)
    div(data-thumbsSlider="").modal-card-slider__preview.swiper.mySwiper
      .swiper-wrapper
        .modal-card-slider__preview-slide.swiper-slide
          +picture("content/cards", "card-01", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__preview-slide.swiper-slide
          +picture("content/cards", "card-02", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__preview-slide.swiper-slide
          +picture("content/cards", "card-03", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__preview-slide.swiper-slide
          +picture("content/cards", "card-01", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__preview-slide.swiper-slide
          +picture("content/cards", "card-02", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__preview-slide.swiper-slide
          +picture("content/cards", "card-03", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__preview-slide.swiper-slide
          +picture("content/cards", "card-01", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__preview-slide.swiper-slide
          +picture("content/cards", "card-02", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__preview-slide.swiper-slide
          +picture("content/cards", "card-03", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__preview-slide.swiper-slide
          +picture("content/cards", "card-01", "png", 456, 278, "виды отеля", true)
        .modal-card-slider__preview-slide.swiper-slide
          +picture("content/cards", "card-02", "png", 456, 278, "виды отеля", true)
