//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/intro
include ./blocks/navigator-location
include ./blocks/tag-search

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle

include ./mixins/logo
include ./mixins/authorization
include ./mixins/menu-button
include ./mixins/user-navigation-item
include ./mixins/menu-user-navigation
include ./mixins/socials
include ./mixins/call-support
include ./mixins/search
include ./mixins/menu-user-group
include ./mixins/main-btn
include ./mixins/main-title
include ./mixins/navigator-location-item
include ./mixins/tag
