//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-tell-about
include ./modals/modal-login-to-account
include ./modals/modal-user-registration
include ./modals/modal-sms-code
include ./modals/modal-user-success
include ./modals/modal-main-slider
include ./modals/modal-card-slider

//- Blocks

include ./blocks/intro
include ./blocks/navigator-location
include ./blocks/tag-search
include ./blocks/popular-touring
include ./blocks/popular-articles
include ./blocks/main-intro
include ./blocks/plan-ideal-tour
include ./blocks/article
include ./blocks/tags-additional
include ./blocks/see-also
include ./blocks/where-to-stay
include ./blocks/news
include ./blocks/text-content
include ./blocks/error-404
include ./blocks/my-account
include ./blocks/card-object
include ./blocks/places-nearby
//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle

include ./mixins/logo-header
include ./mixins/logo-footer
include ./mixins/authorization
include ./mixins/menu-button
include ./mixins/user-navigation-item
include ./mixins/menu-user-navigation
include ./mixins/socials
include ./mixins/call-support
include ./mixins/search
include ./mixins/menu-user-group
include ./mixins/main-btn
include ./mixins/main-title
include ./mixins/main-title-h1
include ./mixins/navigator-location-item
include ./mixins/tag-item
include ./mixins/popular-touring-item
include ./mixins/news-item
include ./mixins/categories-links
include ./mixins/bread-crumbs
include ./mixins/btn-showmore-round
include ./mixins/label-item
include ./mixins/card-item
include ./mixins/tag-panel
include ./mixins/card-grid-to-slider
include ./mixins/add-item
include ./mixins/map
include ./mixins/action-item
include ./mixins/activity-panel
include ./mixins/articles-slider
include ./mixins/filter-panel
include ./mixins/grid-container
include ./mixins/comment-account-item
include ./mixins/comments-account
include ./mixins/button-more
include ./mixins/statictic-block-item
include ./mixins/statictic-block-list
include ./mixins/setting
include ./mixins/avatar
include ./mixins/card-object-features
include ./mixins/comment-item
